/* font: import ================================================ */
@font-face {
  font-family: 'variableFont';
  src: url('./font/Gaegu-Bold.ttf') format('truetype');
}


/* Layout ================================================ */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  transition: background-color 1s ease-in-out;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: url("../img/cursor.png"), auto;
}

a {
  cursor: url("../img/cursor.png"), auto;
}


/* =========================================================== */
/* Teachable Machine: Webcam Container */
/* =========================================================== */
#webcam-container {
  position: fixed;
  top: 80%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
  width: 200px; /* ✅ #Webcam Width */ 
  height: 200px; /* ✅ #Webcam Height */ 
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
  -moz-transform: translate(-50%, -50%) scale(1, 1);
  -ms-transform: translate(-50%, -50%) scale(1, 1);
  -o-transform: translate(-50%, -50%) scale(1, 1);
  transform: translate(-50%, -50%) scale(1, 1);
  place-items: center;
  z-index: -1;
  /* display: none; */
}

canvas {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*===== Changed the border to a div box behind the camera so squiggle filter doesn't affect the camera feed ====
      .scribble-cam was original CSS, changed to .scribble-camera to avoid affecting camera feed */

/* .scribble-cam {
  border: 5px solid black;
  border: 0px;
  padding: 10px;
  display: inline-block;
  filter: url(#squiggle);
  border-radius: 15px;
  background-color: #ed7134;
} */

.scribble-camera{
  position: fixed;
  top: 80%;
  left: 10%;
  width: 200px; /* ✅ #Webcam Width */ 
  height: 200px; /* ✅ #Webcam Height */ 
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
  -moz-transform: translate(-50%, -50%) scale(1, 1);
  -ms-transform: translate(-50%, -50%) scale(1, 1);
  -o-transform: translate(-50%, -50%) scale(1, 1);
  transform: translate(-50%, -50%) scale(1, 1);
  place-items: center;
  z-index: -2;
  border: 6px solid black;
  display: inline-block;
  filter: url(#squiggle);
  border-radius: 15px;
  background-color: black;
}


/* Text ================================================ */
#mainText1 {
  position: fixed;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'variableFont';
  font-size: 130px;
  text-align: left;
  letter-spacing: 0;
  line-height: 200px;
  text-wrap: nowrap;
  
	transition: font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}

#mainText2 {
  position: fixed; 
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'variableFont';
  font-size: 40px;
  color: #ed7134;
  text-align: center;
  letter-spacing: 0;
  text-wrap: nowrap;
  
	transition: font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}

.black {
  font-variation-settings: "opsz" 144, "wght" 1000, "GRAD" 150, "wdth" 151, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  color: black;
}

.pink {
  font-variation-settings: "opsz" 144, "wght" 1000, "GRAD" 150, "wdth" 151, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  color: #ed7134;
}

/* Image ================================================ */

#image1{
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 70%;
  z-index: -1;
}

/* Buttons ================================================ */

.scribble-box {
  display: inline-block;
  filter: url(#squiggle);
  background-color: #ed7134;

  border: 3px solid #ed7134;
  border-radius: 10px;
  padding: 10px;
  
  font-family: 'variableFont';
  font-size: 30px;
  text-align: center;
}

.scribble-box:hover {
  background-color: white;
  border-color: #ed7134;
  border-style: dotted;
}

.scribble-box a{
  text-decoration: none;
  color: white;
}

.scribble-box a:hover{
  text-decoration: none;
  color: #ed7134;
}


#buttonRight{
  position: fixed;
  top: 50%;
  right: -1.5%;
  transform: translate(-50%, -50%);
}

#buttonLeft{
  position: fixed;
  top: 50%;
  left: 9%;
  transform: translate(-50%, -50%);
}


/* Pop Up ================================================
  REVISION AFTER FINAL CRIT: now lyrics on the bottom right */

.button {
  display: inline-block;
}

#popup {
  display: block;

  filter: url(#squiggle);

  position: fixed;
  top: 79%;
  left: 88%;
  transform: translate(-50%, -50%);

  width: 270px; 
  height: 200px;
}

/*===== Original lyrics CSS design by me ===== 
    below is with the help of ChatGPT to create Notebook effect in #lyrics div container */

/* #lyrics{
  padding: 10px 0;

  background: white;
  font-family: 'variableFont';
  font-size: 30px;
  color: #ed7134;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  border: 5px solid #ed7134;
} */

/*==== Notebook effect ====*/
#lyrics {
  position: relative; 
  padding: 10px 0 10px 10px; 
  border-radius: 15px;
  border: 5px solid #d0d0d0;

  background: repeating-linear-gradient(
    to bottom,
    #ececec,
    #ececec 36px,
    #0095e2 37px,
    #ececec 38px
  );
  background-position: 0 4px;

  font-family: 'variableFont';
  font-size: 30px;
  color: black;
  text-align: center;
  line-height: 38px;
  overflow: visible; 
}

#lyrics::after {
  content: "";
  position: absolute;
  left: 10px; 
  top: 0;
  bottom: 0;
  width: 2px; 
  background-color: #ff8585;
} 

/*==== Song Button (PLAY/PAUSE) ====*/
#songBtn{
  display: inline-block;
  
  text-decoration: none;
  color: white;
  background-color: #ed7134;
  font-family: 'variableFont';
  font-size: 30px;
  border: 0px;
}

#songBtn:hover{
  cursor: url("./img/cursor.png"), auto;
  color: #ed7134;
  background-color: white;
}